
h1 {
	color: teal;
}

.alert {
	border: none;
}

.transcript {
	margin-top:30px;
	margin-bottom:10px;
}

video,
.editor {
	/*max-height: 200px;*/
	width: 100%;
}

.editor {
	margin-left: -10px;
	border: 1px solid lightgray;
	min-height: 100px;
	height: 100%;
}

/*.editor, .safari_only {
	min-height: 204px;
}*/

h5 {
	z-index: 1;
	position: absolute;
	/*top: 5;*/
	right: 0;
	margin-top: 10px;
	margin-right: 35px;
}

.current {
	border: 1px solid white;
}

#scrubber {
	margin-top: -5px;
	position: relative;
	width: 100%;
	height: 15px;
	/*opacity: 1.0;*/
	/*border-radius: 5px;*/
}

#time {
	position: absolute;
}

.marker {
	position: absolute;
	width: 1px;
	height: 15px;
	background-color: orange;
}

.marker:hover {
	z-index: 1;
	width: 3px;
	margin-left: -1px;
	background-color: yellow;
}

#progress {
	box-sizing: border-box; /*not sure if working*/
	width: 0;
	height: 15px;
	background-color: rgba(182,182,182,0.5);
	font-size: 10px;
	border-right: solid 2px red;
	/*border-top-left-radius: 5px;*/
	/*border-bottom-left-radius: 5px;*/
	/*fix*/
}

.badge-pill {
	z-index: 1;
	position: absolute;
	right: 10px;
	bottom: 15px;
	font-size: 10px;
	display: initial;
	background: none; /*single-line comments?*/
}

video:hover + .badge-pill {
	display: none;
}

.material-icons {
	margin-left: 1px;
	align: center;
}

#custom-search-input {
	margin-left: -25px;
	padding: 3px;
	border: solid 1px #E4E4E4;
	border-radius: 6px;
	background-color: #fff;
}

#custom-search-input input {
	border: 0;
	box-shadow: none;
}

#custom-search-input button {
	margin: 3px 0 0 0;
	background: none;
	box-shadow: none;
	border: 0;
	color: #666666;
	padding: 0 8px 0 10px;
	border-left: none/*solid 1px #ccc*/;
}

#custom-search-input:hover button {
	color: red;
}

#custom-search-input ::-webkit-input-placeholder {
	color: lightgray;
}
