<div class="qdiv w3-padding-jumbo disable-text">
        <p class="w3-large" style="margin-bottom:20px;">1. How many class files are opened and viewed in this programming video?
        <span name="q1_warning" class="hidden-text warning-text" style="padding-left:20px">required*</span>
        </p>
        <input name="qnumber" value="1" size="25" type="hidden">
        <input name="q1_time" value="" size="25" type="hidden">
        <div class="radio">
            <label class="w3-large"><input name="q1" value="1" type="radio"> 1 </label> <br/>
            <label class="w3-large"><input name="q1" value="2" type="radio"> 2 </label> <br/>
            <label class="w3-large"><input name="q1" value="3" type="radio"> 3 </label> <br/>
            <label class="w3-large"><input name="q1" value="4" type="radio"> 4 </label> <br/>
            <label class="w3-large"><input name="q1" value="5" type="radio"> 5 </label>
        </div>
</div>

<div class="qdiv w3-padding-jumbo disable-text">
        <p class="w3-large" style="margin-bottom:20px;">2. Which classes are the sub class of class Bank? 
        <span name="q2_warning" class="hidden-text warning-text" style="padding-left:20px">required*</span>
        </p>
        <input name="qnumber" value="2" size="25" type="hidden">
        <input name="q2_time" value="" size="25" type="hidden">
        <div class="radio">
            <label class="w3-large"><input name="q2" value="1" type="checkbox"> Bank_ABC </label> <br/>
            <label class="w3-large"><input name="q2" value="2" type="checkbox"> Bank_DEF </label> <br/>
            <label class="w3-large"><input name="q2" value="3" type="checkbox"> Bank_GHI </label> <br/>
            <label class="w3-large"><input name="q2" value="4" type="checkbox"> Bank_UVW </label> <br/>
            <label class="w3-large"><input name="q2" value="5" type="checkbox"> Bank_XYZ </label>
        </div>
</div>

<div class="qdiv w3-padding-jumbo disable-text">
        <p class="w3-large" style="margin-bottom:20px;">3. What is return value of the function getInterestRate in the class Bank_ABC?
        <span name="q3_warning" class="hidden-text warning-text" style="padding-left:20px">required*</span>
        </p>
        <input name="qnumber" value="3" size="25" type="hidden">
        <input name="q3_time" value="" size="25" type="hidden">
        <div class="radio">
            <label class="w3-large"><input name="q3" value="1" type="checkbox"> 0 </label> <br/>
            <label class="w3-large"><input name="q3" value="2" type="checkbox"> 5 </label> <br/>
            <label class="w3-large"><input name="q3" value="3" type="checkbox"> 6 </label> <br/>
            <label class="w3-large"><input name="q3" value="4" type="checkbox"> 10 </label> <br/>
            <label class="w3-large"><input name="q3" value="5" type="checkbox"> No such class </label>
        </div>
</div>

<div class="qdiv w3-padding-jumbo disable-text">
        <p class="w3-large" style="margin-bottom:20px;">4. What is return value of the function getInterestRate in the class Bank_GHI?
        <span name="q4_warning" class="hidden-text warning-text" style="padding-left:20px">required*</span>
        </p>
        <input name="qnumber" value="4" size="25" type="hidden">
        <input name="q4_time" value="" size="25" type="hidden">
        <div class="checkbox">
            <label class="w3-large"><input name="q4" value="1" type="checkbox"> 0
            </label> <br/>
            <label class="w3-large"><input name="q4" value="2" type="checkbox"> 5 </label> <br/>
            <label class="w3-large"><input name="q4" value="3" type="checkbox"> 6 </label> <br/>
            <label class="w3-large"><input name="q4" value="4" type="checkbox"> 10 </label> <br/>
            <label class="w3-large"><input name="q4" value="4" type="checkbox"> No such class </label> <br/>
        </div>
</div>

<div class="qdiv w3-padding-jumbo disable-text">
        <p class="w3-large" style="margin-bottom:20px;">5. What is return value of the function getInterestRate in the class Bank_XYZ?
        <span name="q5_warning" class="hidden-text warning-text" style="padding-left:20px">required*</span>
        </p>
        <input name="qnumber" value="5" size="25" type="hidden">
        <input name="q5_time" value="" size="25" type="hidden">
        <div class="checkbox">
                <label class="w3-large"><input name="q5" value="1" type="checkbox"> 0
                </label> <br/>
                <label class="w3-large"><input name="q5" value="2" type="checkbox"> 5 </label> <br/>
                <label class="w3-large"><input name="q5" value="3" type="checkbox"> 6 </label> <br/>
                <label class="w3-large"><input name="q5" value="4" type="checkbox"> 10 </label> <br/>
                <label class="w3-large"><input name="q5" value="4" type="checkbox"> No such class </label> <br/>
        </div>
</div>