<div class="qdiv w3-padding-jumbo disable-text">
        <p class="w3-large" style="margin-bottom:20px;">1. How many class files are opened and viewed in this programming video?
        <span name="q1_warning" class="hidden-text warning-text" style="padding-left:20px">required*</span>
        </p>
        <input name="qnumber" value="1" size="25" type="hidden">
        <input name="q1_time" value="" size="25" type="hidden">
        <div class="radio">
            <label class="w3-large"><input name="q1" value="1" type="radio"> 1 </label> <br/>
            <label class="w3-large"><input name="q1" value="2" type="radio"> 2 </label> <br/>
            <label class="w3-large"><input name="q1" value="3" type="radio"> 3 </label> <br/>
            <label class="w3-large"><input name="q1" value="4" type="radio"> 4 </label> <br/>
            <label class="w3-large"><input name="q1" value="5" type="radio"> 5 </label>
        </div>
</div>

<div class="qdiv w3-padding-jumbo disable-text">
        <p class="w3-large" style="margin-bottom:20px;">2. What can the value of variable height in class Orc be after one instance first call the method getHeight(9)?
        <span name="q2_warning" class="hidden-text warning-text" style="padding-left:20px">required*</span>
        </p>
        <input name="qnumber" value="2" size="25" type="hidden">
        <input name="q2_time" value="" size="25" type="hidden">
        <div class="radio">
            <label class="w3-large"><input name="q2" value="1" type="checkbox"> 0 </label> <br/>
            <label class="w3-large"><input name="q2" value="2" type="checkbox"> 9 </label> <br/>
            <label class="w3-large"><input name="q2" value="3" type="checkbox"> 10 </label> <br/>
            <label class="w3-large"><input name="q2" value="4" type="checkbox"> 15 </label> <br/>
        </div>
</div>

<div class="qdiv w3-padding-jumbo disable-text">
        <p class="w3-large" style="margin-bottom:20px;">3. What can the value of variable height in class Orc be after one instance first call the method setHeight(9)?
        <span name="q3_warning" class="hidden-text warning-text" style="padding-left:20px">required*</span>
        </p>
        <input name="qnumber" value="3" size="25" type="hidden">
        <input name="q3_time" value="" size="25" type="hidden">
        <div class="radio">
            <label class="w3-large"><input name="q3" value="1" type="checkbox"> 0 </label> <br/>
            <label class="w3-large"><input name="q3" value="2" type="checkbox"> 9 </label> <br/>
            <label class="w3-large"><input name="q3" value="3" type="checkbox"> 10 </label> <br/>
            <label class="w3-large"><input name="q3" value="4" type="checkbox"> 15 </label> <br/>
        </div>
</div>

<div class="qdiv w3-padding-jumbo disable-text">
        <p class="w3-large" style="margin-bottom:20px;">4. What can the value of variable height in class Orc be after one instance first call the method getHeight(15)?
        <span name="q4_warning" class="hidden-text warning-text" style="padding-left:20px">required*</span>
        </p>
        <input name="qnumber" value="4" size="25" type="hidden">
        <input name="q4_time" value="" size="25" type="hidden">
        <div class="checkbox">
            <label class="w3-large"><input name="q4" value="1" type="checkbox"> 0</label> <br/>
            <label class="w3-large"><input name="q4" value="2" type="checkbox"> 9 </label> <br/>
            <label class="w3-large"><input name="q4" value="3" type="checkbox"> 10 </label> <br/>
            <label class="w3-large"><input name="q4" value="4" type="checkbox"> 15 </label> <br/>
        </div>
</div>

<div class="qdiv w3-padding-jumbo disable-text">
        <p class="w3-large" style="margin-bottom:20px;">5. What can the value of variable height in class Orc be after one instance first call the method setHeight(15)?
        <span name="q5_warning" class="hidden-text warning-text" style="padding-left:20px">required*</span>
        </p>
        <input name="qnumber" value="5" size="25" type="hidden">
        <input name="q5_time" value="" size="25" type="hidden">
        <div class="checkbox">
                <label class="w3-large"><input name="q5" value="1" type="checkbox"> 0 </label> <br/>
                <label class="w3-large"><input name="q5" value="2" type="checkbox"> 9 </label> <br/>
                <label class="w3-large"><input name="q5" value="3" type="checkbox"> 10 </label> <br/>
                <label class="w3-large"><input name="q5" value="4" type="checkbox"> 15 </label> <br/><br/>
        </div>
</div>